In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
!ls

drive  sample_data

In [7]:
ds = pd.read_csv("/content/IBM_data.csv")
ds.head()

    timestamp    open    high  ...   volume  dividend_amount  split_coefficient
0  23-09-2020  120.80  121.59  ...  3939398              0.0                  1
1  22-09-2020  120.33  121.45  ...  2957809              0.0                  1
2  21-09-2020  120.48  120.70  ...  5311441              0.0                  1
3  18-09-2020  124.26  124.92  ...  5391570              0.0                  1
4  17-09-2020  122.62  125.55  ...  3171262              0.0                  1

[5 rows x 9 columns]

In [10]:
ds.shape

(100, 9)

In [12]:
data.drop()

     timestamp    open    high
0   23-09-2020  120.80  121.59
1   22-09-2020  120.33  121.45
2   21-09-2020  120.48  120.70
3   18-09-2020  124.26  124.92
4   17-09-2020  122.62  125.55
..         ...     ...     ...
95  08-05-2020  122.67  123.23
96  07-05-2020  122.98  123.26
97  06-05-2020  123.24  124.05
98  05-05-2020  123.39  124.32
99  04-05-2020  120.82  121.97

[100 rows x 3 columns]